html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--SECONDARY-FONT), sans-serif;
    color: var(--GREY);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--PRIMARY-FONT);
    font-weight: bold;
    color: var(--PRIMARY-COLOR);
}

p,
ul {
    line-height: 1.5;
}

:root {
    --PRIMARY-FONT: Kameron;
    --SECONDARY-FONT: Open Sans;
    --PRIMARY-COLOR: #18253c;
    --SECONDARY-COLOR: #d3d0cb;
    --WHITE: #ffffff;
    /*--WHITE: #f4ecd6;*/
    --GREY: #596264;
}
