.container {
}

.main {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.topSection {
    display: flex;
}

.topSectionBlock {
    margin: 0 8px;
}

.topSectionText {
    flex: 3;
}

.companyName {
    font-size: 2rem;
    margin-top: 0;
}

.topSectionImageContainer {
    flex: 2;
}

.topSectionImage {
    width: 100%;
    height: auto;
}

.topSectionContact {
    flex: 3;
}

.contactContainer {
    background-color: var(--SECONDARY-COLOR);
    color: var(--WHITE);
    padding: 24px;
}

.contactTitle {
    margin: 0;
    font-size: 1.5rem;
    color: var(--PRIMARY-COLOR);
}

.contactDetail {
    background-color: var(--WHITE);
    color: var(--PRIMARY-COLOR);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 24px 0;
    padding: 12px;
}

.contactDetail:last-child {
    margin-bottom: 8px;
}

.contactDetail svg {
    color: var(--GREY);
}

.contactDetail > * + * {
    margin: 0 8px;
}

.title {
    margin: 2rem 0 1rem;
    line-height: 1.15;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

.subtitle {
    text-align: center;
    width: 100%;
    color: var(--GREY);
    margin-top: -8px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.moreInfo {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 991px) {
    .topSection {
        flex-wrap: wrap;
    }

    .topSectionBlock {
        margin: 8px 0;
    }

    .topSectionText {
        width: 50%;
        flex-basis: 50%;
    }

    .topSectionImageContainer {
        width: 50%;
        flex-basis: 50%;
        padding-left: 8px;
    }

    .topSectionContact {
        width: 100%;
        flex-basis: 100%;
    }

    .moreInfo {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .topSectionImageContainer {
        display: none;
    }
}
