.container {
}

.main {
  background:  url("/lawn.jpg");
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title {
  text-align: center;
}

.footer {
  padding: 2rem;
  border-top: 1px solid #eaeaea;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
